<div class="{{post.id}}">
<h2>{{{post.title}}}</h2>
<h3>Blog post by: {{{post.bloguser.username}}}</h3>
<p>{{{post.content}}}</p>

{{#if loggedIn}}
<h2>Create a comment:</h2>
<form id="createComment">  
    <label for="commentContent">Content</label><br>
  <input type="text" id="commentContent" name="commentContent"><br>
  <input type="submit" value="submit">
</form>
{{/if}}



{{#if post.comments}}
<ul>
    <h2>Comments</h2>
    
    {{#each post.comments}}
    <li>
        <h3>{{this.content}}</h3>
        <p>Comment by: {{this.bloguser.username}}</p>
    </li>
    {{/each}}

</ul>
{{/if}}

</div>



<script src="/js/post.js"></script>
